img{
    width: 90%;
}
body {
    background-image: url('image/Universe.jpg');
    background-attachment: fixed;
    background-size: cover;
}

p {
    color: aqua;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 500; /* Value from 300 - 800 */
    font-style: normal;
    font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}
h2 {    
    background: linear-gradient(to right, #4285f4, #9b72cb, #d96570, #d96570, #9b72cb, #4285f4, #9b72cb, #d96570); 
    -webkit-background-clip: text; /* For Safari and Chrome */ 
    -moz-background-clip: text; /* For Firefox */ 
    background-clip: text; /* Standard property */ 
    color: transparent;
}

.Step {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 215%;
}

.QnA {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;/* 400 - 900 */
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
h1{
    font-family: "Twinkle Star", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    text-align: center;
    /* Gradient color */
    background: linear-gradient(to right, #4285f4, #9b72cb, #d96570, #d96570, #9b72cb, #4285f4, #9b72cb, #d96570); 
    -webkit-background-clip: text; /* For Safari and Chrome */ 
    -moz-background-clip: text; /* For Firefox */ 
    background-clip: text; /* Standard property */ 
    color: transparent;
}
